# --- VCS ---
.git
.gitignore
.vscode
.idea
*.swp
*.swo

# --- Python cache ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.egg-info
.eggs/

# --- Test / Coverage ---
**/pytest.ini

.pytest_cache/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.ruff_cache/
.tox/
.nox/
.hypothesis/
.cw_state/


# --- Virtual envs ---
.venv/
env/
venv/

# --- Local configs / runtime ---
config/
logs/
*.log
state.json
profiles.json

# --- OS / misc ---
.DS_Store
Thumbs.db
**/@eaDir
**/@eaDir/**

# --- Build artifacts ---
dist/
build/
**/tests/
**/tests/**
*.egg
*.whl
*.sarif
images/
docs/
.github/
.bashrc
.dockerignore
.env.bash
.gitattributes
Dockerfile
LICENSE
README.md
SECURITY.md
CONTRIBUTING.md
requirements-dev.txt
